<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/src/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/b-2.1.0/sl-1.3.3/datatables.min.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    @RenderSection("Styles", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <nav>
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a asp-action="Index" asp-controller="Projects" class="fs-5 d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none p-1 m-1 me-3">
                        PM Tool
                    </a>
                    <a asp-action="List" asp-controller="Projects" class="nav-link active d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none p-1 m-1">
                        Projects
                    </a>
                    <a asp-action="List" asp-controller="Accounts" class="nav-link d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none p-1 m-1">
                        Accounts
                    </a>
                    <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>
                    @if (@Context.User.Identity.IsAuthenticated)
                    {
                        <div id="user_session" class="text-end">
                            <span class="me-3">Logged in as: <b>@Context.User.Identity.Name</b></span>
                            <a asp-controller="Accounts" asp-action="Logout" class="btn btn-outline-light me-2">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div id="user_session" class="text-end">
                            <a asp-controller="Accounts" asp-action="SingIn" class="btn btn-outline-light me-2">Login</a>
                            <a asp-controller="Accounts" asp-action="Register" class="btn btn-warning">Registration</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>       

    <div class="mt-4" style="position: relative;">
        @RenderBody()
        <partial name="~/Views/Partial/Common/_ToastContainer.cshtml" />
    </div>

    <partial name="~/Views/Partial/Common/_ContentModal.cshtml" />
    <partial name="~/Views/Partial/Common/_ErrorModal.cshtml" />
    <partial name="~/Views/Partial/Common/_AlertContainer.cshtml" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>  
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/sl-1.3.3/datatables.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

    <script src="~/src/js/App.js"></script>
    <script src="~/src/js/Helper.js"></script>
    <script src="~/src/js/Result.js"></script>
    <script src="~/src/js/Components.js"></script>
    <script src="~/src/js/main.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
